<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.i18n.daydayup">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".day7.WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".day4.ListActivity" android:label="movieList"/>
        <activity android:name=".day1.JOJOActivity" android:label="RelativeLayoutDemo"/>
        <activity android:name=".day1.JOJOPlusActivity" android:label="FailedDemo"/>
        <activity android:name=".day2.RecycleActivity" android:label="RecyclerViewDemo"/>
        <activity android:name=".day3.MultiLayoutActivity" android:label="MultiLayoutDemo"/>
        <activity android:name=".day3.multitypeDemo.FooActivity" android:label="FooDemo"/>
        <activity android:name=".day4.DetailsActivity" android:label="details"/>
        <activity android:name=".day5.MultiFragActivity" android:label="MultiFrag"/>
        <activity android:name=".day5.ViewPagerActivity" android:label="ViewPage"/>

    </application>

</manifest>